{{>_navbarADM}}
<div class="container text-center">
    <div class="d-flex justify-content-between" style="width:50%; margin:0 auto">
    <h2>Categorias:</h2>
    <a href="/admin/categorias/add"><button class="btn btn-success">Adicionar categoria</button></a>
    </div>
</div>
    
