{{>_navbarADM}}
<div class="container">
    {{>_msg}}
<div class="text-center"><a href="/admin/categorias"><button class="btn btn-success">Categorias</button></a></div>
<div class="text-center"><a href="/admin/posts"><button class="btn btn-success">Postagens</button></a></div>

</div>
