{{>_navbarADM}}
<div class="container">
    <div class="card" style="padding:10px;">
        {{>_msg}}
        <div class="text-center">
            <a href="/admin/posts/add"><button class="btn btn-success">Adicionar postagens</button></a>
        </div>
    </div>
</div>