{{>_navbarADM}}

<div class="container text-center">
    <div class="card" style="padding:10px">
        {{>_msg}}
        <div class="table-responsive">
            <table class="table table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each categorias}}
                        <tr>
                            <td><a href="/categorias/posts/{{slug}}">{{nome}}</a></td>
                        </tr>
                    {{else}}
                        <tr>Não há categorias registradas</tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
