{{>_navbarADM}}

<div class="container">
    {{>_msg}}

    <div class="card-columns">
        <h3 class style="font-size: xx-large;">Post:</h3>
        <div class="card" style="margin: 10px 0 50px;">
            <div class="card-body">
                <h5 class="card-title">{{postagem.titulo}}</h5><br>
                <p><b>descrição:</b></p>
                <p class="card-text">{{postagem.descricao}}</p>
                <div class="text-center" style="margin: 10px 0 30px">
                    <h2><strong>{{postagem.slug}}</strong></h2>
                </div>
                <hr>
                <h4>Conteúdo:</h4>
                <p style="white-space: pre-wrap">{{postagem.conteudo}}</p>
                <hr>
                <h2><strong>Comentários:</strong></h2>
                <div class="card" style="padding:10px; margin:10px 0 10px">
                    <b>Username</b>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit mollitia ut est sunt. Itaque aspernatur laudantium pariatur nulla hic, deserunt earum minima tempore facilis quisquam placeat commodi, in nobis dolor.</p>
                    <div style="text-align:right">
                        <img src="/img/heart.png" style="width:20px">
                    </div>
                </div>
                <div class="card" style="padding:10px; margin:10px 0 10px">
                    <b>Username</b>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit mollitia ut est sunt. Itaque aspernatur laudantium pariatur nulla hic, deserunt earum minima tempore facilis quisquam placeat commodi, in nobis dolor.</p>
                    <div style="text-align:right">
                        <img src="/img/heart.png" style="width:20px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
