{{>_navbarADM}}
<div class="container">

{{>_msg}}

    <div class="card-columns">
<h3 class style="font-size: xx-large;">
        Post:
    </h3>
    
      <div class="card" style="margin: 10px 0 50px;">
        <div class="card-body">
          <h5 class="card-title">{{postagem.titulo}}</h5>
          <p class="card-text">{{descricao}}</p>
          <div class="text-center">
            <h2><strong>{{slug}}</strong></h2>
          </div>
          <hr>
          <h4>Conteúdo:</h4>
          <p>{{conteudo}}</p>
        </div>
      </div>
  </div>
</div>